<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-d81cx3ar5jc0hn2z.us.auth0.com</string>
	<key>ClientId</key>
	<string>wpG22rwy9H9ss9Xygxeet5wTSZuBMQFZ</string>
	<key>Audience</key>
	<string>https://quickstart/api</string>
</dict>
</plist>
